body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslateblue;
}

h1 {
    font-size: 13rem;
    font-family: Montserra;
}

.letter {
    transition: color 1000ms;
}